:root {
  --defult-color: #0178ff;
  --second-color: #cee1f8;
  --white-color: #fff;
}
body {
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.header-after {
  margin-bottom: 60px;
}
.header-after::after {
  content: "";
  height: 5px;
  width: 40px;
  position: absolute;
  background-color: #0178ff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}
.second-head::after {
  content: "";
  height: 3px;
  width: 100px;
  background-color: var(--defult-color);
  position: absolute;
  bottom: 35px;
  left: 0;
}
/*================== nav bar ============*/
.navbar-nav .nav-link.active {
  color: var(--white-color);
}
.navbar-nav .active::before {
  width: 65%;
}
.nav-link {
  color: var(--white-color);
  position: relative;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--white-color);
}
.nav-link::before {
  content: "";
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  left: 5px;
  bottom: -2px;
  transition: 0.5s all;
}
.nav-link:focus::before {
  width: 65%;
}
.nav-link:hover::before {
  width: 65%;
}
.navbar-nav .nav-link.show {
  color: var(--white-color);
}
.dropdown-item:hover {
  color: var(--defult-color);
}
/*=========== scroll top button =================*/
.top {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--defult-color);
}
/* ======== header section ============ */
#hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
/*============= animation css ==========*/
.typed-cursor {
  font-size: 40px;
  color: var(--white-color);
}

/* ===========about me section ========== */
#about-me .progress {
  background-color: var(--second-color);
  height: 10px;
  border-radius: 0;
}
/*====== services section  ============== */
.section-item {
  box-shadow: 0px 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.section-item > div {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border: 10px solid var(--defult-color);
  border-radius: 50%;
  transition: 0.5s all;
}
.section-item:hover > div {
  border-color: var(--second-color);
  background-color: var(--defult-color);
}
.section-item i {
  font-size: 40px;
  transition: 0.5s all;
}
.section-item:hover i {
  color: var(--white-color);
}
/* counter section */
.counter {
  padding-block: 8rem;
  background: linear-gradient(
      to right,
      rgba(12, 110, 253, 0.6),
      rgba(12, 110, 253, 0.6)
    ),
    url(../images/counters-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.counter-item > div {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  border: 10px solid white;
  border-radius: 50%;
}

/*========== portfolio section ============*/
.portfolio-card {
  background-color: var(--white-color);
  box-shadow: 0px 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.portfolio-card img {
  transition: 0.7s all;
}
.portfolio-card:hover img {
  scale: 1.3;
}
.portfolio-text {
  font-size: 12px;
}

/*========= carousel section  ========*/
.testmonial {
  background: linear-gradient(
      to right,
      rgba(12, 110, 253, 0.6),
      rgba(12, 110, 253, 0.6)
    ),
    url(../images/overlay-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.testmonial .carousel-indicators button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
/* =========== blog section =========== */
#blog .blog-link {
  color: #000;
  transition: 0.8s all;
}
#blog .blog-link:hover {
  color: var(--defult-color);
}
.blog-img {
  width: 40px;
}
#blog .card-body > div {
  font-size: 12px;
}
/*=============== form section ===========*/
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid var(--defult-color);
  border-radius: 50%;
  transition: 0.5s all;
  font-size: 20px;
  cursor: pointer;
}
.icon:hover {
  border-color: var(--second-color);
  background-color: var(--defult-color);
  color: var(--white-color);
}

/*============== footer section ================*/
footer {
  background-color: #0062d3;
}
